.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .row{
    max-width: 200%;
    --bs-gutter-x: 4.8rem;
  }

  .form-control{
    padding: 0.375rem 2.75rem
  }

  .hover-effect:hover {
    border-color:black; 
    transform: scale(1.05);
  }

  .hover-effect{
    border-color:black;
    transition: transform 0.3s ease-in-out;
  }