<div class="container">
  <div class="container custom-text">
    <h2>Booking Details</h2>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Serial No</th>
        <th>Booking ID</th>
        <th>Customer ID</th>
        <th>Flight ID</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ booking?.customerFlightId }}</td>
        <td>{{ booking?.customerId }}</td>
        <td>{{ booking?.flightId }}</td>
        <td>
          <button
            (click)="cancelBooking(booking.customerId, booking.flightId)"
            class="btn btn-outline-danger"
          >
            Cancel Booking
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container">
    <div class="d-flex justify-content-center">
      <p>
        <a (click)="goBack()" class="btn btn-outline-dark">Back</a>
      </p>
    </div>
  </div>
</div>
